[Unit]
Description=FCS LPC Motor Control service

[Service]
WorkingDirectory=/srv/fcs-lpc-motor-ctl
ExecStart=/srv/lsst/fcs-lpc-motor-ctl/fcs-lpc-motor-ctl
Requires=network-online.target

[Install]
WantedBy=multi-user.target

